@import '../../scss/main.scss';

.header_basic {
    width: 100%;
    @extend %flex;
    margin: 0 auto;
    align-items: center
}
ul{
    @extend %flex;
    li{
        font-style: normal;
        .nav_link{
            margin: 0 32px;
            color:$gray-800;
            @extend h6;
        }
    }
}

.call {
    width: 200px;
    align-items: center;
    display: flex;
    .call_link{
        font-size: 14px;
        line-height: 150%;
        color:$gray-800;
    }
    p{
        margin: 0;
        font-size: 18px;
        color:$gray-800;
    }
    .icon{
        color: $primary;
        font-size:28px ;
        margin:0 20px ;
    }
}