$desktop: 1230px;
$tablet: 768px;
$phone:320px;
$background:#E5E5E5;
$divider-gradient:linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
$primary:#FF5A30;
$white: #FFFFFF;
$danger:#FC3300;
$success: #03CEA4;
$warning:#F89828;
$info:#5A87FC;
$deeppink:#F52F6E;
$gray-900:#1E212C;
$gray-800:#424551;
$gray-700:#787A80;
$gray-600:#9A9CA5;
$gray-500:#B3B7BC;
$gray-400:#D7DADD;
$gray-300:#E5E8ED;
$gray-200:#F4F5F7;
$gray-100:#F9F9F9;
$shadow-small:0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
$shadow-regular: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
$shadow-large:0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

.container{
    width: 1230px;
    margin: 0 auto;
}

.p__20{
    color: $white;
    @extend h5;
}

.p__18{
    font-size: 18px;
    line-height: 150%;
}

.p__16{
    font-size: 16px;
    line-height: 160%;
}

.p__14{
    font-size: 14px;
    line-height: 150%;
}

.p__12{
    font-size: 12px;
    line-height: 150%;
}

.white{
    color: $white;
}

.gray__400{
    color: $gray-400;
}

.gray__700{
    color: $gray-700;
}

.gray__800{
    color: $gray-800;
}

.gray__900{
    color: $gray-900;
}

.gray__600{
    color: $gray-600;
}

.mt__120{
    margin: 120px auto 24px auto;
}

.mb__60{
    margin: 0 auto 60px auto;
}

.center{
    text-align: center;
}

h1{
    font-size: 46px;
    line-height: 130%;
    text-align: center;
}

h2{
    font-size: 32px;
    line-height: 150%;
}

h3{
    font-size: 28px;
    line-height: 150%;
}

h4{
    font-size: 24px;
    line-height: 150%;
}

h5{
    font-size: 20px;
    line-height: 130%;
}

h6{
    font-size: 16px;
    line-height: 150%;
}

.h__72{
    font-size: 72px;
    line-height: 130%;
}

%flex-between{
    display: flex;
    justify-content: space-between;
}

%flex-center{
    display: flex;
    justify-content: center;
}

%form{
    padding: 11px 13px;
    font-size: 14px;
    background: $gray-200;
    border: 1px solid $gray-400;
    border-radius: 4px;
    color: $gray-600;
}

%shadow-radius{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: $shadow-small;
}

.opacity{
    color: $white;
    opacity: 0.6;
}
.primary{
    color: $primary;
}

.tab{
    color: $gray-600;
    @extend .p__16;
    @extend .center;
    padding: 10px 45px;
    background: none;
    border: 1px solid $white;
    font-weight: bold;
}
.tab:hover{
    color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.btn{
    border:2px solid $primary;
    background: $primary;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;  
}
.btn__lg{
    padding: 0px 40px;
    @extend h6;
    line-height: 52px;
}
.btn__reg{
    padding: 0px 32px;
    font-size: 14px;
    line-height: 44px;
}
.btn__small{
    padding: 0px 24px;
    font-size: 12px;
    line-height: 36px;
}
.btn-outline{
    @extend .btn;
    border: 2px solid $white;
    color: $white;
    box-sizing: border-box !important;
    transition: 1s;
    background-color: transparent;
}
.btn-outline-primary{
    @extend .btn;
    border: 2px solid $primary;
    color: $primary;
    box-sizing: border-box !important;
    transition: 1s;
    background-color: transparent;
}

.btn:hover{
    background: $danger;
    border: 2px solid $danger;
    transition: 1s;  
    color: $white;
}
.btn:active{
    background: $danger;
}
.btn:disabled{
    opacity: 0.5;
}
.btn-outline:hover{
    border:2px solid $primary;
    transition: 1s;
    background: $primary;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    color: $white;
}
.btn-outline:active{
    transition: 1s;
    background: $primary;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    color: $white;
}
.btn-outline:disabled{
    opacity: 0.5;
}


// core_values

.core_values{
    padding: 80px 0 120px 0;
    .core__cards{
        @extend %flex-center;
        text-align: center;
        .core__card{
            width: 300px;
            height: auto;
            margin: 0 45px;
            // min-width: 300px;
            &:nth-child(2){
                border-right: 1px solid $divider-gradient;
                border-left: 1px solid $divider-gradient;
            }
        }
    }
}

.pro__icon{
    display: flex;
    // margin-top: 100px;
    align-items: center;
}

.prev,
.next{
    width: 48px;
    height: 48px;
    background: $white;
    opacity: 0.5;
    @extend %flex-center;
    align-items: baseline;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: $gray-800;
    text-align: center;
    font-size: 18px;
    .icon{
        margin: 30% auto;
    }
    &:hover{
        background-color: $primary;
        opacity: 1;
        transition:all 1s ;
        -webkit-transition:all 1s ;
        -moz-transition:all 1s ;
        -ms-transition:all 1s ;
        -o-transition:all 1s ;
        .icon:hover{
            color: $white ;
        }
    }
}

.pages{
    padding-top: 60px;
}

// partner_section

.partner_section{
    background-color: $gray-200;
    padding-top: 80px;
    .par__logos{
        @extend %flex-center;
        margin: 100px auto;
        flex-wrap: wrap;
        gap: 65px;
    }
    .par__says{
        @extend %flex-center;
        gap: 100px;
        padding-bottom: 50px;
        h1{
            text-align: left;
        }
        .internal-item{
            @extend %flex-between;
            .inter-btn{
                display: flex;
                align-items: center;
            }
        }
    }
}

// hser__section

.hser_section{
    background-image: url(../images/hser-bg.png);
    padding-bottom: 80px;
    padding-top: 80px;
    .hser__cards{
        @extend %flex-center;
        gap: 30px;
        .hser__card{
            width: 285px;
            height: 285px;
            background-color: $white;
            border: 1px solid  $gray-300;
            @extend %shadow-radius;
            &:hover{
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
                background-image: url(../images/home-bg.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: -200px;
                color: $white;
            }
            &:hover img{
                filter:sepia(0);
                -webkit-filter:sepia(0);
            }
 
            .hser__icon{
                margin-top: 25%;
            }
        }
    }
}

.hnew-meta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 0;
}


@media screen and (max-width:1320px){
    .container{
        width: 90%;
    }
}


@media screen and (max-width:1100px) {
    .hnew__grid__cont{
        grid-template-columns: auto;
        justify-content: center;
        .hnew__grid__item{
            grid-column: 1;
            width: 90% !important;
            margin: 0 auto;
            background-position-x: 0;
        }
        .hnew__grid__item:nth-child(1){
            background-position-x:200px;
        }
    }
    .par__says{
        flex-wrap: wrap;
        .par__item:nth-child(1){
            width: 60%;
        }
    }
    .hser__cards{
        flex-wrap: wrap;
    }

}

@media screen and (max-width:660px) {
    .par__says{
        flex-wrap: wrap;
        gap: 0;
        .par__item:nth-child(1){
            width: 90%;
        }
        .par__item:nth-child(2){
            width: 90%;
            img{
                width: 100%;
            }
        }
    }
.hser_section{
    padding-top: 250px;
    .hser__cards{
        flex-wrap: wrap;
    }
}

}
@media screen and (max-width:985px){
    .h__72{
        font-size: 62px;
    }
    .p__20{
        font-size: 19px;
    }
    .p__18{
        font-size: 17px;
    }  
    .p__16{
        font-size: 15px;
    }
    .p__14{
        font-size: 13px;
    }
    .p__12{
        font-size: 11px;
    }

    h1{
        font-size: 44px;
    }    
    h2{
        font-size: 30px;
    }    
    h3{
        font-size: 26px;
    }    
    h4{
        font-size: 23px;
    }    
    h5{
        font-size: 19px;
    }    
    h6{
        font-size: 15px;
    }
    .prev,
    .next{
        background: none;
    }
     .core_values{
        height: auto;
        .core__cards{
            flex-wrap: wrap;
        }
     }
}

@media screen and (max-width:465px){
    .h__72{
        font-size: 45px;
    }

    h1{
        font-size: 40px;
    }       
    .mt__120{
        margin-top: 100px;
    }
     section{
        padding: 50px 0;
    }
    .hnew-meta{
        align-items:flex-start;
        flex-direction: column;
        gap: 0;
        p{
            margin: 10px 0;
        }
    }
}
@media screen and (max-width:685px){
    .par__logos{
        gap: 25px !important;
    }
}
@media  screen and (max-width:530px) {
    .btn{
        padding: 0 12px;
        width: auto;
        flex-direction: row;
    }
    .h__72{
        font-size: 52px;
    }
    .p__20{
        font-size: 18px;
    }
    .p__18{
        font-size: 16px;
    }  
    .p__16{
        font-size: 14px;
    }
    h1{
        font-size: 32px;
    }    
    h2{
        font-size: 28px;
    }    
    h3{
        font-size: 24px;
    }    
    h4{
        font-size: 22px;
    }    
}
@media screen and (max-width:480px){
    .h__72{
        font-size: 38px;
    }
}